{% extends 'vehicle/home.html' %}
{% load static %}

{% block content %}
    <div class="card rounded-0 border-primary">
        <div class="card-title container expense">
            <div class="card-header">
                <h1 class="card-header-title">Expense Details</h1>
                <a type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">
                    <i class="tio-add-circle"></i>&nbsp;<strong>Add</strong></a>
            </div>

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col"><strong>Expense Type</strong></th>
                    <th scope="col"><strong>Amount</strong></th>
                    <th scope="col"><strong>Date</strong></th>
                    <th scope="col"><strong>Vehicle</strong></th>
                    <th scope="col"><strong>Edit</strong></th>
                    <th scope="col"><strong>Delete</strong></th>
                </tr>
                </thead>
                <tbody class="expensetable">
                {% for e in vehicle.expense_set.all %}
                    <tr>
                        <td><span class="expense_type-{{ e.id }}">{{ e.expense_type }}</span></td>
                        <td><span class="amount-{{ e.id }}">{{ e.amount }}</span></td>
                        <td><span class="date-{{ e.id }}">{{ e.date }}</span></td>
                        <td><span class="vehicle-{{ e.id }}">{{ e.vehicle }}</span></td>
                        <td><a class="js-edit btn btn-sm btn-primary edit-expense" data-toggle="modal"
                               data-target="#editform" data-url="{% url 'expense_update' e.id %}">
                            <i class="js-edit-icon tio-edit"></i>Edit</a>
                        </td>
                        <td><a class="js-edit btn btn-sm btn-danger" href="{% url 'expense_delete' e.id %}">
                            <i class="js-delete-icon tio-delete"></i>Delete</a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Add Modal -->
    <div class="modal addExpense fade bd-example-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title h4" id="myLargeModalLabel">Add modal</h5>
                    <button type="button" class="btn btn-xs btn-icon btn-ghost-secondary" data-dismiss="modal"
                            aria-label="Close">
                        <i class="tio-clear tio-lg"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add-expense-form" novalidate>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary container-fluid" type="submit" value="Save">

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
    <!-- Edit Modal -->
    <div class="modal editExpense fade" id="editform" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h4" id="mySmallModalLabel">Edit modal</h5>
                    <button type="button" class="btn btn-xs btn-icon btn-ghost-secondary"
                            data-dismiss="modal"
                            aria-label="Close">
                        <i class="tio-clear tio-lg"></i>
                    </button>
                </div>

                <form id="edit-expense-form" action="" novalidate>
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <input class="btn btn-secondary container-fluid" type="submit"
                               data-url="" value="Update">
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- End Modal -->


{% endblock %}
{% block script %}
    <script>
        $(document).on('hidden.bs.modal', function () {
            $('.editExpense').modal('hide')
            $('#add-expense-form, .edit-expense').trigger('reset')
            $('div .field_error').remove()
            $('.form-control').removeClass('is-invalid')

        })

        $(document).ready(function () {
            $(".expense").on("click", ".edit-expense", function () {
                var url = $(this).data('url')
                console.log(url)
                $('.editExpense').modal('show')
                $("#edit-expense-form").attr("action", url)
                $.get(url, function (data) {
                    console.log(data)
                    $("#id_expense_type.form-control").val(data.expense_type)
                    $("#id_amount.form-control").val(data.amount)
                    $("#id_date.form-control").val(data.date)
                })
            });


            $(document).on("submit", "#add-expense-form", function (e) {
                e.preventDefault()
                var form = $(this)
                var url = '{% url 'expense_create' vehicle.id %}'
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: form.serialize(),

                    success: function (response) {
                        $('.addExpense').modal('hide');
                        $(`<tr>
                            <td>${response.data.expense_type}</td>
                            <td>${response.data.amount}</td>
                            <td>${response.data.date}</td>
                            <td>${response.data.vehicle_name}</td>
                            <td><a class="js-edit btn btn-sm btn-primary edit-expense" data-toggle="modal"
                                   data-target=".bd-example-modal-sm${response.data.id}"
                                   data-url="/expense_update/${response.data.id}">
                                <i class="js-edit-icon tio-edit"></i>Edit</a>
                            </td>
                            <td><a class="js-edit btn btn-sm btn-danger" href="">
                                <i class="js-delete-icon tio-delete"></i>Delete</a>
                            </td>
                        </tr>`).prependTo('.expensetable')

                    },

                    error: function (error) {
                        if (error.status === 400) {
                            console.log(error)
                            $.each(error.responseJSON.errors, function (key, value) {
                                var name = $(`[name=${key}]`) // $(`[name=${key}]`) is a selector.
                                var fielderror = value[0]
                                if (name.parent().children("div").is(".field_error")) {
                                    return false;
                                } else {
                                    name.parent().children(':text, input[type=number], #id_expense_type').addClass('is-invalid').parent().append(`<div class='text-danger field_error'>* ${fielderror}</div>`)
                                }
                            })
                        } else {
                            alert("Internal 500 server error.")
                        }
                    }
                })
            })
        });

        $(document).on("submit", "#edit-expense-form", function (e) {
            e.preventDefault();
            var form = $(this);
            var url = $(this).attr("action");
            console.log(url)
            $.ajax({
                type: 'POST',
                url: url,
                data: form.serialize(),

                success: function (response) {
                    console.log(response)
                    $('.editExpense').modal('hide');
                    $(`.expense_type-${response.data.id}`).text(response.data.expense_type)
                    $(`.amount-${response.data.id}`).text(response.data.amount)
                    $(`.date-${response.data.id}`).text(response.data.date)

                },

                error: function (error) {
                        if (error.status === 400) {
                            console.log(error)
                            $.each(error.responseJSON.errors, function (key, value) {
                                var name = $(`[name=${key}]`) // $(`[name=${key}]`) is a selector.
                                var fielderror = value[0]
                                if (name.parent().children("div").is(".field_error")) {
                                    return false;
                                } else {
                                    name.parent().children(':text, input[type=number], #id_expense_type').addClass('is-invalid').parent().append(`<div class='text-danger field_error'>* ${fielderror}</div>`)
                                }
                            })
                        } else {
                            alert("Internal 500 server error.")
                        }
                    }

            })

        })


    </script>
{% endblock %}