{% extends 'vehicle/home.html' %}
{% load static %}

{% block content %}
    <div class="card rounded-0 border-primary">
        <div class="card-title container local_rent">
            <div class="card-header">
                <h1 class="card-header-title">Local Rent</h1>
                <a type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">
                    <i class="tio-add-circle"></i>&nbsp;<strong>Add</strong></a>
            </div>

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col"><strong>Date</strong></th>
                    <th scope="col"><strong>Local Rent</strong></th>
                    <th scope="col"><strong>Edit</strong></th>
                    <th scope="col"><strong>Delete</strong></th>
                </tr>
                </thead>
                <tbody class="localrenttable">

                {% for m in vehicle.localrent_set.all %}
                    <tr>
                        <td><span class="date-{{ m.id }}">{{ m.date }}</span></td>
                        <td><span class="local_rent-{{ m.id }}">{{ m.local_rent }}</span></td>

                        <td><a class="js-edit btn btn-sm btn-primary edit-local_rent" data-toggle="modal"
                               data-target="#editform"  data-url="{% url 'local_rent_update' m.id %}">
                            <i class="js-edit-icon tio-edit"></i>Edit</a>
                        </td>
                        <td><a class="js-edit btn btn-sm btn-danger" href="{% url 'local_rent_delete' m.id %}">
                            <i class="js-delete-icon tio-delete"></i>Delete</a>
                        </td>


                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <!-- Add Modal -->
    <div class="modal addLocalRent fade bd-example-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title h4" id="myLargeModalLabel">Add modal</h5>
                    <button type="button" class="btn btn-xs btn-icon btn-ghost-secondary" data-dismiss="modal"
                            aria-label="Close">
                        <i class="tio-clear tio-lg"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add-local-rent-form" novalidate>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary container-fluid" type="submit" value="Save">

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
    <!-- Edit Modal -->
    <div class="modal editLocal fade" id="editform" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h4" id="mySmallModalLabel">Edit modal</h5>
                    <button type="button" class="btn btn-xs btn-icon btn-ghost-secondary"
                            data-dismiss="modal"
                            aria-label="Close">
                        <i class="tio-clear tio-lg"></i>
                    </button>
                </div>

                <form id="edit-form" action="" novalidate>
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-secondary container-fluid" type="submit"
                               data-url="" value="Update">
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- End Modal -->



{% endblock %}

{% block script %}
    <script>
        $(document).on('hidden.bs.modal', function () {
            $('.editLocal').modal('hide')
            $('#add-local-rent-form, .edit-local_rent').trigger('reset')
            $('div .field_error').remove()
            $('.form-control').removeClass('is-invalid')

        })

        $(document).ready(function () {
            $(".local_rent").on("click", ".edit-local_rent", function () {
                var url = $(this).data('url')
                console.log(url)
                $('.editLocal').modal('show')
                $('#edit-form').attr("action", url)
                $.get(url, function (data) {
                    console.log(data)
                    $("#id_local_rent.form-control").val(data.local_rent)
                    $("#id_date.form-control").val(data.date)
                })
            });

            $(document).on('submit', '#add-local-rent-form', function (e) {
                e.preventDefault()
                var form = $(this)
                var url = '{% url 'local_rent_create' vehicle.id %}'
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: form.serialize(),

                    success: function (response) {
                        console.log(response)
                        $('.addLocalRent').modal('hide');
                        $(`<tr>
                        <td>${response.date}</td>
                        <td>${response.local_rent}</td>

                        <td><a class="js-edit btn btn-sm btn-primary edit-local_rent" data-toggle="modal"
                               data-target=".bd-example-modal-sm${response.id}"
                               data-url="/local_rent_update/${response.id}">
                            <i class="js-edit-icon tio-edit"></i>Edit</a>
                        </td>
                        <td><a class="js-edit btn btn-sm btn-danger" href="">
                            <i class="js-delete-icon tio-delete"></i>Delete</a>
                        </td>
                      </tr>`).prependTo('.localrenttable')
                    },

                    error: function (error) {
                        if (error.status === 400) {
                            console.log(error)
                            $.each(error.responseJSON.errors, function (key, value) {
                                var name = $(`[name=${key}]`)
                                var fielderror = value[0]
                                if (name.parent().children("div").is(".field_error")) {
                                    return false;
                                } else {
                                    name.parent().children(':text, input[type=number]').addClass('is-invalid').parent().append(`<div class='text-danger field_error'>* ${fielderror}</div>`)
                                }
                            })
                        } else {
                            alert("Internal 500 server error.")
                        }
                    }
                })
            })
        });

        $(document).on("submit", "#edit-form", function (e) {
            e.preventDefault();
            var form = $(this);
            var url = $(this).attr("action")
            console.log(url)
            $.ajax({
                type: 'POST',
                url: url,
                data: form.serialize(),

                success: function (response) {
                    console.log(response)
                    $('.editLocal').modal('hide');
                    $(`.date-${response.id}`).text(response.date)
                    $(`.local_rent-${response.id}`).text(response.local_rent)

                },

                error: function (error) {
                        if (error.status === 400) {
                            console.log(error)
                            $.each(error.responseJSON.errors, function (key, value) {
                                var name = $(`[name=${key}]`)
                                var fielderror = value[0]
                                if (name.parent().children("div").is(".field_error")) {
                                    return false;
                                } else {
                                    name.parent().children(':text, input[type=number]').addClass('is-invalid').parent().append(`<div class='text-danger field_error'>* ${fielderror}</div>`)
                                }
                            })
                        } else {
                            alert("Internal 500 server error.")
                        }
                    }

            })
        })

    </script>
{% endblock %}




