{% extends 'vehicle/home.html' %}
{% load static %}

{% block content %}

    <div class="card rounded-0 border-primary">
        <div class="card-title container">
            <div class="card-header">
                <h1 class="card-header-title">Rent Detail</h1>
            </div>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>Status</th>
                    <th>Passenger</th>
                    <th>Rent Type</th>
                    <th>Total Rent</th>
                </tr>
                </thead>
                <tbody>
                {% for r in rentdetail_list %}
                    <tr>
                        <td>{{ r.status }}</td>
                        <td>{{ r.passenger }}</td>
                        <td>{{ r.rent_type }}</td>
                        <td>{{ r.total_rent }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}